* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}
body {
  background-image: url('../images/Background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  list-style-type: none;
  text-decoration: none;
}

h1 {
  font-family: 'Creepster', cursive;
  font-weight: normal;
}

h2,
h3,
p {
  font-family: 'Jura', sans-serif;
}
