* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}
body {
  background-image: url('../images/MainBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  list-style-type: none;
  text-decoration: none;
}

h1 {
  font-family: 'Creepster', cursive;
  font-weight: normal;
}
